.profile{
    width: 254px;
    height: auto;
    padding-top: 30px;
    background: white;
    margin: 30px auto 30px auto;
    border-radius: 5px;
    border: 1px solid rgb(228, 233, 240);
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.description {
    text-align: center;
}

.avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.name {
    font-weight: bold;
}

.location {
    text-decoration: underline;
}

.stats {
    list-style: none;
}
.label {
    margin-right: 10px;
    line-height: 20px;
}